.container {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: calc(100%-60px);
}

/* @media screen and (min-width: 480px) {
  .container {
    width: calc(100%-30px);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
} */
